<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理页</title>
</head>
<body>
    <center>

    {% if name %}
        管理员 工号: {{ id }}  ，姓名: {{ name }}

        <h1>用户密码生成</h1>

        {% for message in get_flashed_messages() %}
            {{ message  }}
        {% endfor %}

        <form method="post" action="admin">
            <!--设置csrf_token-->
            {{ form.csrf_token() }}

            <p>
                {{ form.id_new.label }} {{ form.id_new }}
                {% for msg in form.id_new.errors %}
                    {{ msg }}
                {% endfor %}
            </p>


            <p>
                {{ form.name_new.label }} {{ form.name_new }}
                {% for msg in form.name_new.errors %}
                    {{ msg }}
                {% endfor %}
            </p>

            <p>
                {{ form.submit() }}
            </p>
        </form>

        <h1>已提交数据表历史记录</h1><br/>



{% else %}
        <h1>你需要登录</h1>

{% endif %}
    </center>
</body>
</html>