<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>from_test</title>
</head>
<body>
    <center>
        <h1>欢迎登陆在线数据系统</h1>
{% if name %}
    {{ name }}
{% else %}
    {% for message in get_flashed_messages() %}
        {{ message  }}
    {% endfor %}
    <form method="post" action="login">
        工号：<input type="text" name="id"  placeholder='id'/><br/>
        姓名：<input type="text" name="name" placeholder='name'/><br/>
        秘钥：<input type="password" name="key" placeholder='key'/><br/>
        <input type="submit" value="登陆"/>
    </form>
{% endif %}
    </center>
</body>
</html>